body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.loginButton{
    position: absolute;
    top: -8px;
    right: 0px;
    height: 50px; 
}

input[disabled]{
    opacity: 0.5;
    background-color: #888;
}

.clickButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    margin-right: 100px;
    border: none;
    cursor: pointer;
    width: 50%;    
  }  

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*Error message style*/
#errorMessage {
    color: #f44336;
    text-align: left;
    font-size: 12px; 
    padding-bottom: 50px;
}

/*Header style*/
.header{
    background-color: #000;
    color: #fefefe;
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 0px;
    left: 0px;
}

.headerName{
    position: absolute;
    top: -14px;
    left: 5px;
}

.labels{
    font-size: 14px;
    color: dimgray;
}

.leftsideBody{
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;
}

.rightsideBody{
    width: 59%;
    height: 562px;
    float: right;
    border-left: solid 1px #a8a8a8; 
    padding: 5px 0 0 5px; 
    margin-left: 5px
}

.typeAreaDiv{
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
}

.textTypeArea{
    border-radius: 2px;
    height: 300px;
    margin-top: 8px;
}

.ontologiesDiv{
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
}

.resultsDiv{
    border: solid 1px black;
    border-radius: 10px;
    padding: 30px;
}

